<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>

<% if @current_user == nil %>
  <p>Please login to post or see entries</p>
<% else %>
  <% for entry in @entries %>
    <h3><%= entry["title"] %></h3>
    <h4><%= entry["occurred_on"] %></h4>
    <p><%= entry["description"] %></p>
  <% end %>

  <p>
    <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
  </p>
<% end %>
<p>
  <a href="/places">Back to All Places</a>
</p>