<h1><%= @place["name"] %></h1>

<% if @current_user != nil %>
  <p>
    <a class="btn btn-primary mb-2" href="/entries/new?place_id=<%= @place["id"] %>">New Post</a>
  </p>
<% end %>

<% if @current_user == nil %>
  <p>Please login to post or see entries</p>
<% else %>
  <div class="row">
   <% for entry in @entries %>
   <div class="col-12 col-sm-6 col-lg-4 col-xl-4">
      <h3><%= entry["title"] %></h3>
      <h6><%= entry["occurred_on"] %></h6>
      <% if entry.uploaded_image.attached? %>
        <img src="<%= url_for(entry.uploaded_image) %> "class = "img-fluid">
      <% end %>
      <p><%= entry["description"] %></p>
   </div>
    <% end %>
  </div>
<% end %>
<p>
  <a class="btn btn-secondary mt-4" href="/places">Back to All Places</a>
</p>